body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Brain Flower', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
  }
  
  header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  h1 {
    font-size: 5rem;
    line-height: 1;
    margin: 0;
  }
  
  p {
    max-width: 600px;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 auto 30px;
  }
  
  a.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0px;
    border-radius: 5px;
    background-color: #ff0000;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    transition: background-color 0.3s;
  }
  
  a.button:hover {
    background-color: #dd0000;
  }
  
  .ro {
    position: relative;
    animation: brainrot 10s linear infinite;
  }
  
  @keyframes brainrot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }